.footer{
    background-color: black;
    padding: 5rem 0;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .contenido{
        display: flex;
        justify-content: space-between;
    }

    .navigation{
        flex-direction: row;
    }
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.navigation a, .copyright{
    color: var(--white);
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 700;
}

.copyright{
    text-align: center; 
}
